.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  isolation: isolate; /* So the z-index of .content won't escape the hero context */

  .canvas {
    left: 0;
    position: absolute;
    top: 0;
  }

  .content {
    z-index: 1;
  }
}
